* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 5%;
  margin-top: 25px;
}

header {
  height: 100px;
}

[class^="col-"] {
  float: left;
}

/* Attibute row */
.row:after {
  content: "";
  clear: both;
  display: table;
}


/* Backgrounds */
.bg-pink {
  background-color: rgb(229, 121, 230);
  height: 100px;
}

.bg-yellow{
  background-color: rgb(225, 214, 122);
  height: 250px;
}
/* Cell's widths */
.col-100 {
  width: 100%;
}
